.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
    background-color: cadetblue;
    padding: 1rem 2rem;
    border-radius: 1rem;
    color: white;
    max-width: 15rem;
}
.image{
    width: 10rem;
}
.name{
    font-size: 1.3rem;
    align-items: normal;
}
.type{
    font-size: small;
    span{
        font-weight: bolder;
    }
}