.user-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 1rem;
}
.addUser{
    margin-bottom: 1rem;
    padding: 0.5rem 1.2rem;
    background: #000;
    color: white;
    border-radius: 2rem;
    cursor: pointer;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid blue;
    padding: 1rem 2rem;
    border-radius: 1rem;
}
.row{
    display: flex;
    flex-direction: column;
    font-weight: 700;
    input{
        padding: 0.8rem 0.5rem;
        border-radius: 1rem;
    }
}

select{
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}
.complete{
    margin: 1rem 0 3rem 0;
    padding: 0.5rem 1rem;
    border: 1px solid blue;
    border-radius: 1rem;
}
.success{
    font-weight: 900;
    font-size: 1.5rem;
    color: tomato;
    text-align: center;
}
.uname{
    font-weight: 500;
}
.ID{
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    padding: 0.5rem 1rem;
    background: #676767;
    font-weight: 900;
    border-radius: 5rem;
}
